<% if @saved_flag %>
	// ----- 成功時の処理 -----
<%		if @cost_comment.cost_type == CostCommentModelHelper::CostCommentType::MATTER %>
		// ----- 問題点の場合の処理 -----
		// 表に項目を追加
		$('#cost-comment-table tbody tr:last').before(
			"<tr>" +
				"<td>" +
					"<%= @cost_comment.comment %>" +
					"<a href='<%= cost_comment_path(@cost_comment) %>' data-method='delete' data-confirm='削除してよろしいですか？'>" +
						"<span class='glyphicon glyphicon-trash'></span>" +
					"</a>" +
				"</td>" +
				"<td><%= CostCommentHelper.probability_to_str(@cost_comment.probability) %></td>" +
				"<td><%= CostCommentHelper.influence_to_str(@cost_comment.influence) %></td>" +
				"<td><%= @cost_comment.cost_memo %></td>" +
			"</tr>"
			);
		// リスクの優先度項目を更新
		$("#risk_status_priority").html("<%= escape_javascript(render 'risks/status_list/risk_status_priority', risk: @cost_comment.risk) %>")

<%		else %>
		// ----- 解決案の場合の処理 -----
		// 表に項目を追加
		$('#cost-comment-table tbody tr:last').before(
			"<tr>" +
				"<td>" +
					"<%= @cost_comment.comment %>" +
					"<a href='<%= cost_comment_path(@cost_comment) %>' data-method='delete' data-confirm='削除してよろしいですか？'>" +
						"<span class='glyphicon glyphicon-trash'></span>" +
					"</a>" +
				"</td>" +
				"<td><%= @cost_comment.cost_memo %></td>" +
			"</tr>"
			);
<%		end %>

	// 項目を空にする
	$("#cost_comment_cost_memo").val("");
	$("#cost_comment_comment").val("");

	// モーダルを閉じる
	$('div.modal.fade').modal('hide');
<% else %>
	// ----- 失敗時の処理 -----
	// エラー原因を表示
	$('#cost_comment-error-message-area').html("<%= escape_javascript(render 'shared/error_messages', object: @cost_comment) %>");
	// エラー対象のコントロールの色を変更
	<% if @cost_comment.errors.include?(:comment) %>
		$('#form-group-cost_comment_comment').addClass("has-error");
	<% end %>
	<% if @cost_comment.errors.include?(:cost_memo) %>
		$('#form-group-cost_comment_cost_memo').addClass("has-error");
	<% end %>
<% end %>