<%= render 'shared/breadcrumb', target_crumb: @project %>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="bg-primary"><%= @project.name %></h2>
	</div>

	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>リスク総件数</dt>
				<dd><%= @project.risks.count %>件</dd>
			<dt>次回チェックリスク</dt>
<%
if Risk.from_projects_check_date_oder(@project).count > 0
next_check_risk = Risk.from_projects_check_date_oder(@project).first
%>

				<dd>
					<a href="<%= risk_path(next_check_risk) %>"><%= next_check_risk.title %></a>
					<a href="#" class="btn btn-link btn-xs">
						<span class="glyphicon glyphicon-search"></span>
					</a>
					<small class="text-muted">
						<%= next_check_risk.next_check_date_text %>
					</small>
				</dd>
<% else %>
				<dd>
					なし
				</dd>
<% end %>
		</dl>

		<div class="table-responsive">
			<table id="cost-comment-table" class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>
							<span class="glyphicon glyphicon-eye-open"></span>
							リスク
						</th>
						<th class="col-sm-2">
							<span class="glyphicon glyphicon-signal"></span>
							優先度
						</th>
						<th class="col-sm-2">
							<span class="glyphicon glyphicon-calendar"></span>
							チェック日
						</th>
						<th class="col-sm-2">
							<span class="glyphicon glyphicon-stats"></span>
							ステータス
						</th>
					</tr>
				</thead>
			<% @project.risks.find_each do |risk| %>
				<tr>
					<td>
						<%= link_to risk.title, risk_path(risk) %>
						<a href="#" class="btn btn-link btn-xs">
							<span class="glyphicon glyphicon-search"></span>
						</a>
					</td>
					<td><%= priority_to_str(risk.priority) %></td>
					<td><%= risk.next_check_date_text %></td>
					<td><%= RiskModelHelper.type_to_s risk.status %></td>
				</tr>
			<% end %>
			<% if current_user?(@project.user) %>
				<tr>
					<td colspan="4" class="text-right">
						<a href="<%= new_risk_path({ project: @project.id }) %>">
							<span class="glyphicon glyphicon-plus"></span>
							リスクの追加
						</a>
					</td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>