<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @cost_comment_definition::ADD_TEXT %></h4>
      </div>
      <div id="cost_comment-error-message-area">
        <!-- エラーメッセージ用 -->
      </div>
      <%= form_tag(cost_comments_path, { method: :create, class: "form-horizontal", remote: true }) do %>
        <div class="modal-body">
<%
  [
    {
      id: "form-group-cost_comment_comment",
      param: :comment,
      label: @cost_comment_definition::TABLE_TEXT[0]
    },
    {
      id: "form-group-cost_comment_cost_memo",
      param: :cost_memo,
      label: @cost_comment_definition::TABLE_TEXT[1]
    }
  ].each do |modal_data|
%>
          <div id="<%= modal_data[:id] %>" class="form-group">
            <%= label :cost_comment, modal_data[:param], modal_data[:label], class: "col-sm-3 control-label" %>
            <div class="col-sm-9">
              <%= text_area_tag "cost_comment[#{modal_data[:param]}]", "", class: "form-control", placeholder: modal_data[:label] %>
            </div>
          </div>
<% end %>
          <%= hidden_field_tag "cost_comment[cost_type]", @tab_type %>
          <%= hidden_field_tag "cost_comment[risk_id]", @risk.id %>
        </div>
        <div class="modal-footer">
          <button id="modal_cancel" type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
          <%= submit_tag @cost_comment_definition::ADD_BUTTON, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
