<%= render 'shared/breadcrumb', target_crumb: @risk %>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="bg-primary"><%= @risk.title %></h2>
	</div>

	<div class="panel-body">
		<ul class="list-group">
			<%= render "risks/risk_status_list", risk: @risk %>

			<li class="list-group-item">
				<div><p><%= @risk.details %></p></div>
			<% if current_user?(@risk.project.user) %>
				<div class="text-right">
					<small>
						<a href="#" data-toggle="modal" data-target="#modal_edit">
							<span class="glyphicon glyphicon-pencil"></span>
							編集
						</a>
					</small>
				</div>
			<% end %>
			</li>
		</ul>
	</div>

	<div class="panel-body">
		<ul class="nav nav-tabs">
<%
	# タブの生成を行う
	[
		{
			tab_text: CostCommentModelHelper::MatterCommentDefinition::TAB_TEXT,
			type: CostCommentModelHelper::CostCommentType::MATTER
		},
		{
			tab_text: CostCommentModelHelper::MeasureCommentDefinition::TAB_TEXT,
			type: CostCommentModelHelper::CostCommentType::MEASURE
		}
	].each do |tab_data|
%>
			<li class="<%= "active" if @tab_type == tab_data[:type] %>">
				<%= link_to tab_data[:tab_text], risk_path(@risk, { tab_type: tab_data[:type] }) %>
			</li>
<% 	end %>
		</ul>
		<div class="table-responsive">
			<table id="cost-comment-table" class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>
							<span class="<%= @cost_comment_definition::TABLE[0][:icon] %>"></span>
							<%= @cost_comment_definition::TABLE[0][:text] %>
						</th>
						<th class="col-sm-3">
							<span class="<%= @cost_comment_definition::TABLE[1][:icon] %>"></span>
							<%= @cost_comment_definition::TABLE[1][:text] %>
						</th>
					</tr>
				</thead>
<%
	table_datas = @risk.matter_comments if (@tab_type == CostCommentModelHelper::CostCommentType::MATTER)
	table_datas = @risk.measure_comments if (@tab_type == CostCommentModelHelper::CostCommentType::MEASURE)
	table_datas.find_each do |table_data|
%>
				<tr>
					<td><%= table_data.comment %></td>
					<td><%= table_data.cost_memo %></td>
				</tr>
<% end %>
<% if current_user?(@risk.project.user) %>
				<tr>
					<td colspan="2" class="text-right">
						<a href="#" data-toggle="modal" data-target="#modal_cost_comment">
							<span class="glyphicon glyphicon-plus"></span>
							追加
						</a>
					</td>
				</tr>
<% end %>
			</table>
		</div>

		<div class="pull-right">
			<%= link_to "リスクを最新の状態にする", checking_risk_path, class: "btn btn-primary btn-sm" %>
		</div>
	</div>

	<div class="panel-footer clearfix">
		<small>
			<dl class="dl-horizontal pull-right">
				<dt>作成日</dt>
				<dd><%= @risk.created_at %></dd>
				<dt>更新日</dt>
				<dd><%= @risk.updated_at %></dd>
			</dl>
		</small>
	</div>
</div>

<%= render 'risks/modal_edit', risk: @risk %>
<%= render 'risks/modal_cost_comment', risk: @risk, def_model: @cost_comment_definition, cost_type: @tab_type %>