<!DOCTYPE html>
<html>
<head>
  <title>Risker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-9">
			<div class="col-sm-12">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
	<% if signed_in? %>
		<div class="col-sm-3">
			<%= render 'layouts/sidebar' %>
		</div>
	<% end %>
	</div>
</div>
<% if Rails.env.development? %>
	<div class="container">
		<%= debug(params) %>
	</div>
<% end %>
</body>
</html>
